@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #3666ff;
  --brand-color-hover: #3666ffb3;
  --skyblue: #3666ff40;
  --skyblue-hover: #3666ff59;
  --text-default-color: #2f3438;
  --deactived-color: #c1c1c1;
  --deactived-light-color: #e0e0e0;
  --deactived-text-color: #868686;
  --kakao-color: #fae100;
  --kakao-color-hover: #fae10080;
  --brand-main-color: #3666ff;
  --brand-sub-color: rgba(54, 102, 255, 0.3);
  --placeholder-color: #94a3b8;
}

*::placeholder {
  color: var(--placeholder-color) !important;
}
